@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");
:root {
  --yellow: #f5bf23;
  --black: #111;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.01rem solid rgba(0, 0, 0, 0.3) !important;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Replace 250px with desired value */
  gap: 2rem;
}

.title-text {
  font-size: 24px; /* Replace with the desired size */
  color: var(--black);
  text-transform: capitalize;
}

.graph-text {
  font-size: 24px; /* Replace with the desired size */
  color: var(--light-color);
}

.icons-box {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
}

.icons-box:hover {
  background: var(--black);
  color: var(--white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--yellow);
  }
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem; /* Assuming titleText sets font size */
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}
.Hbtn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  position: relative;
  float: left;

}
.Hbtn:hover {
  background: var(--yellow);
  color: var(--black);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.btn:hover {
  background: var(--yellow);
  color: var(--black);
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background: var(--white);
}

.header .logo {
  font-size: 2.5rem; /* Manually applying title-text styles */
  color: var(--black);
  text-transform: capitalize;
}

.header .logo span {
  color: var(--yellow);
}

.header .navbar a {
  font-size: 2rem; /* Manually applying title-text mixin */
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
  transition: color 0.3s;
}

.header .navbar a:hover {
  color: var(--yellow);
}

.icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  transition: 0.3s, color 0.3s;
  margin-left: 0.3rem;
}

.icons div:hover {
  background: var(--black);
  color: var(--white);
}

.header .navbar.active {
  right: 2rem;
  transition: 0.4s linear;
}

.search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
  animation: fadeIn 0.2s linear;
}

.search-form.active {
  display: flex;
}

.search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}

.search-form label {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}

.search-form label:hover {
  color: var(--yellow);
}

.login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  animation: fadeIn 0.2s linear;
  display: none;
}

.login-form.active {
  display: block;
}

.register-form.active {
  display: block;
}

.login-form h3 {
  font-size: 2.5rem; /* Manually applying titleText styles */
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
  margin: 0.7rem 0;
}

.login-form .flex {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.login-form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.login-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}

.login-form .flex a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.login-form p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding-top: 1.5rem;
}

.login-form p a {
  color: var(--yellow);
}

.login-form p a:hover {
  text-decoration: underline;
}

.register-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  animation: fadeIn 0.2s linear;
  display: none;
}

.register-form.active {
  display: block;
}

.register-form h3 {
  font-size: 2.5rem; /* Manually applying titleText styles */
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.register-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
  margin: 0.7rem 0;
}

.register-form .flex {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.register-form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.register-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}

.register-form .flex a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.register-form p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding-top: 1.5rem;
}

.register-form p a {
  color: var(--yellow);
}

.register-form p a:hover {
  text-decoration: underline;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}

.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}

.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
  transition: 0.3s;
}

.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
  color: var(--yellow);
}

.contact-info .info {
  padding: 2rem 0;
}

.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
}

.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
}

.contact-info .share {
  padding-top: 1rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0 0.3rem;
  transition: 0.3s;
}

.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.home {
  padding: 0;
}

.home .slide {
  min-height: 60rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--white), transparent);
}

.home .slide .content {
  width: 30rem;
  position: relative;
}

.home .slide .content h3 {
  /* Replace with the actual properties from the titleText mixin */
  font-size: 6rem; /* Example */
  font-weight: bold; /* Example */
  text-transform: uppercase;
  text-align: justify;
}

.home .slide .content p {
  /* Replace with the actual properties from the graphText mixin */
  font-size: 1.5rem; /* Example */
  line-height: 1.8; /* Example */
  padding: 1rem 0;
  text-align: justify;
  font-weight: bold;
}

.swiper-button-next,
.swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--white);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--yellow);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}

.swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.about .row .video {
  flex: 1 1 41rem;
}

.about .row .video video {
  width: 100%;
}

.about .row .content {
  flex: 1 1 41rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  font-weight: bold; /* Assuming bold style from the mixin */
  line-height: 1.5; /* You can adjust this value if needed */
}

.about .row .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-align: justify;
}

.box-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  gap: 2rem; /* Adjust the gap as needed */
  align-items: flex-end;
}

.box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}

.box:hover {
  background: var(--yellow);
}

.box h3 {
  font-size: 4rem;
  font-weight: bold; /* Assuming the mixin includes bold styling */
  line-height: 1.5;
}

.box p {
  font-size: 1.5rem;
  line-height: 1.6;
  padding-top: 0.5rem;
  color: #666;
}

.services {
  background: var(--light-bg);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem; /* Adjust as needed */
}

.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  transition: 2s linear;
  width: 100%;
  height: 100%;
}

.services .box-container .box:hover img {
  transform: translateY(-1rem);
}

.services .box-container .box img {
  height: 20rem;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.services .box-container .box h3 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1rem 0;
}

.services .box-container .box h3 a {
  color: var(--black);
}

.services .box-container .box p {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: bold;
}

.projects {
  background: var(--black);
}

.projects .heading {
  color: var(--white);
}

.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem; /* Adjust spacing as needed */
}

.projects .box-container .box {
  cursor: initial;
  background: var(--black);
}

.projects .box-container .box:hover .image img {
  transform: scale(1.1);
  transition: 2s linear;
}

.projects .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}

.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.projects .box-container .box .content {
  display: flex;
  background: var(--white);
  justify-content: space-between;
  align-items: center;
}

.projects .box-container .box .content .info {
  padding: 1rem 2rem;
}

.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--black);
}

.projects .box-container .box .content .info p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.projects .box-container .box .content i {
  width: 7.5rem;
  font-size: 3rem;
  background: var(--yellow);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}

.reviews {
  background: rgb(255, 255, 255);
}

.reviews .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  line-height: 1.6; /* Adjust line height as per your graphText mixin */
}

.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  transform: rotate(45deg);
}

.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
}

.reviews .slide .user h3 {
  font-size: 2rem; /* Assuming 'titleText' includes bold styling */
}

.reviews .slide .user .star {
  padding-top: 0.5rem;
}

.reviews .slide .user .star i {
  font-size: 1.4rem;
  color: var(--yellow);
}

.pricing {
  background: var(--light-bg);
}

.pricing .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem; /* Adjust spacing as needed */
}

.pricing .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.pricing .box-container .box i {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: var(--yellow);
  color: var(--black);
  display: inline-block;
}

.pricing .box-container .box h3 {
  font-size: 2rem;
  font-weight: normal;
}

.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  font-weight: bold;
}

.pricing .box-container .box .price span {
  font-size: 2rem;
}

.price .box-container .box .list {
  padding: 1rem;
}

.priceH .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.6; /* Assuming graphText includes line height for readability */
}

.pricing .box-container .box .priceH {
  padding: 1rem 0;
  font-size: 5rem;
  font-weight: bold;
}

.pricing .box-container .box .priceH span {
  font-size: 2rem;
}

.priceH .box-container .box .list {
  padding: 1rem;
}

.priceH .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.6; /* Assuming graphText includes line height for readability */
}

.contact {
  background: var(--black);
}

.contact .heading {
  color: var(--white);
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .map {
  flex: 1 1 41rem;
  width: 100%;
}

.contact .row form {
  flex: 1.1 41rem;
  background: var(--white);
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.contact .row form .box:hover {
  background: var(--light-bg);
}

.contact .row form .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
  transition: border-color 0.3s ease-in-out;
  padding: 1rem 2rem;
  text-align: left;
  justify-content: space-between;
  background: var(--white);
}

.contact .row form .box:focus {
  border-color: var(--yellow);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.blogs {
  background: var(--light-bg);
}

.blogs .slide {
  text-align: center;
}

.blogs .slide:hover .image img {
  transform: scale(1.1);
}

.blogs .slide .image {
  height: 25rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
  transition: 0.2s linear;
}

.blogs .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .slide .content {
  padding: 2rem;
  padding-top: 5rem;
  background: var(--white);
  box-shadow: 0 0 1.5rem rbba(0, 0, 0, 0.2);
}

.blogs .slide .content h3 {
  font-size: 2rem;
  font-weight: bold; /* Assuming title text is bold */
}

.blogs .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.6; /* Adjust for better readability */
  text-align: justify;
}

.logo-container {
  text-align: center;
}
.logo-container img {
  height: 10rem;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  --webkit-user-select: none;
  --moz-user-select: none;
}

.footer .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 1.5rem;
  justify-content: left;
  align-items: flex-start;
}

.footer .grid .box h3 {
  font-size: 2rem;
  color: var(--black);
  margin: 1rem 0;
  padding-bottom: 1rem;
  text-transform: capitalize;
}

.footer .grid .box a {
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--light-color);
}

.footer .grid .box a i {
  color: var(--light-color);
  margin-right: 0.8rem;
}

.footer .grid .box a:hover i {
  margin-right: 2rem;
}

.footer .box:hover {
  background-color: var(--white);
}

.footer .credit {
  text-align: center;
  padding: 3rem 2rem;
  border-top: var(--border);
  background-color: var(--light-color);
  font-size: 2rem;
  color: var(--black);
  line-height: 1.5;
}

.footer .credit span {
  color: var(--yellow);
  text-transform: capitalize;
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}

.header #menu-btn {
  display:inline-block;
}

.header .navbar {
  display: hidden;
}

.header .navbar.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  top: 99%;
  left: 0;
  right: 0;
  background: var(--white);
  border-top: var(--border);
  border-bottom: var(--border);
}


.header .navbar a {
  display: block;
  margin: 2rem;
}
@media (min-width: 1080px) {
  .header .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    
  }
  .header #menu-btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    .search-form {
      width: 90%;
    }

    .login-form {
      width: 90%;
    }
  }

  .home .slide {
    justify-content: center;
  }
  
  .home .slide .content {
    text-align: center;
  }
  
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
